## Large project files
*.fastq.gz
*.fa
*bam*
refs/*
*.gds
*.vcf.gz
*.vcf.gz.tbi
01_trim/log/*
02_align/log/*
08_wasp/*
## Other project files
# *log*
*.firstPass.table
*.secondPass.table
.Rproj.user
## Snakemake or python related
.snakemake/
smk/log/
*__pycache__*
07_variants/2_genomicsDB/*
